<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目开发总结</title>
    <!--bootstrap页面基础CSS-->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--页面重要CSS-->
    <link type="text/css" rel="stylesheet" href="/static/css/matrix-style.css">
    <!--bootstrap页面基础脚本-->
    <script type="text/javascript" src="/static/js/common/jquery.min.js"></script>
    <!--整体UI 界面公用-->
    <script type="text/javascript" src="/static/js/common/jquery.ui.custom.js"></script>
    <script type="text/javascript" src="/static/js/common/bootstrap.min.js'"></script>
    <!--数据表格脚本引用-->
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/matrix.tables.js"></script>
</head>
<body>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                    <h2>项目总结</h2>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
                            <th>名称</th>
                            <th>描述</th>
                        </tr>
                        </thead>

                        <!-- ------------------ 开始  -->
                        <tbody>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结-三月--作者王娇</td>
                            <td>
                                （一）三月一号，接手项目，挑选一个好的开发环境，研究javaWeb 框架--SSM （拥有Spring4.0 完美超越SSH框架+springMVC+mybatis）<br/>
                                （二）三月七号，根据已开发项目，登录网站，研究该系统原先的功能<br/>
                                （三）三月十日，着手数据库设计，和老师一起研究数据库的设计<br/>
                                （四）三月十五日----三月底，原型设计， 把新设计的系统分不同角色，做了一个全面的覆盖。 细节到每个按钮都有详细代码。<br/>
                                （五）总结：1.我不是一个专业设计页面的设计师，使用的是全球最受欢迎后台系统纯静态设计页面，通过一些途径，终于下载了。<br/>
                                2.这里 包括优点就是包含bootstrap所有的页面元素，设计很精良，如果说这个都很粗糙，我只能说，我不是设计师，不可能超越这位大师的团队几年的心血<br/>
                                3. 原先用.NET 设计的后台页面，我完全可以说，这绝对也是COPY的这位大师的杰作。<br/>
                                4. 唯一的坑就是，所有JS解说都是英文，需要翻译成中文，按照中国人日历习惯等，经过一些改造，是需要花时间的。<br/>
                                5.不要想当然，可能一个执着的人，会为了一个元素，花上一个星期，只为最好的效果。<br/>
                                6.登录界面，也是从网上海量的资源里，挑选的比较精良的设计，经过自己的专研，改动了几个版本（只有登录，或者放大登录界面，结果都不如原版效果最好，时间我花了，我乐意，我快乐）<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----四月（1） ----作者WJ</td>
                            <td>
                                (一)框架搭建完成后，打开日志调试来看信息，有这几点原则：<br/>
                                1.数据库链接正常<br/>
                                数据库驱动、数据库服务<br/>
                                数据库配置文件<br/>
                                数据库测试<br/>
                                2.网页资源访问正常<br/>
                                静态html、js、css、font、image、MP3等<br/>
                                动态的接口<br/>
                                动态页面如：jsp<br/>
                                3.提示信息正常<br/>
                                异常输出<br/>
                                log输出<br/>
                                等等···<br/>
                                （二）四月中上旬，终于把自己的想要的框架搭建好了，<br/>
                                之前研究（SSM（SpringMVC + Spring + Mybatis）框架的增删改查（含分页）），<br/>
                                一个大神搭的框架，进群要交五元，自己又默默给他的网站贡献了五元。但是Shiro + Redis 的集成，也提供Ehcache的依赖Jar。<br/>
                                Shiro 初始权限动态加载，需要框架依赖，配置，工具包，以及各种语句，嵌入到整个系统中，代码解读困难，也有作者自己封装的代码，
                                学习成果是巨大的，想到自己时间不多，把自己最喜欢的跨平台开发时间都放弃了，索性就另寻他经。<br/>
                                四月中下旬，进入框架 整体填充，这是整个系统最复杂，虽然要实现的功能较为简单，但是，怎么才能做到整个项目最简单的功能，也符合社会需求，是需要花费功夫和时间的。<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----四月（2） ----作者WJ</td>
                            <td>
                                (二)关于web只有大概下面几点：<br/>
                                1.减少每个页面的请求数。<br/>
                                2.js方法整合到页面，工具js封装成工具。<br/>
                                3.js方法一般写在页面头部<br/>
                                4.web页面除非整体刷新，其他情况考虑异步请求。<br/>
                                5.页面图片资源整合到一起，然后根据位置取图片<br/>
                                6.web页面良好体验可以考虑组件引入<br/>
                                7.页面需要大量重用的地方可以考虑模板完成<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（1） ----作者WJ</td>
                            <td>框架简介:
                                项目Maven构建，真实大型互联网架构，做到高并发，大数据处理，整个项目使用定制化服务思想，提供模块化、服务化、原子化的方案，将功能模块进行拆分，可以公用到所有的项目中。架构采用分布式部署架构，所有模块进行拆分，使项目做到绝对解耦，稳定压倒一切
                                框架整合:[Springmvc] + [Mybatis] + Shiro（权限） + REST(服务) + WebService(服务) + JMS(消息) +
                                Lucene(搜搜引擎) + Quartz(定时调度) + [Bootstrap
                                Html5（支持PC、IOS、Android]
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>技术点：</td>

                            <td>1. Springmvc + Mybatis集成、SpringSecurity权限控制、Spring AOP事务处理。<br/>
                                2. Wink Rest服务、Webservice服务：jaxws、CXF等<br/>
                                3. IO 流上传下载文件，多线程操作<br/>
                                4. 发送邮件，配置邮件服务器，发基于html、纯文本格式的邮件（可以免费赠送网络爬虫，使其群发邮件，做到广告推送等）<br/>
                                5. MD5加密（登陆密码校验加密等），用户统一Session、Cookie管理，统一验证码校验等。<br/>
                                6. 数据库连接池统一配置<br/>
                                7. Quartz定时调度任务集成（直接通过配置即可）<br/>
                                8. Httpclient破解验证码，登陆联通充值平台<br/>
                                9. 汉字、英文拆分、可以用作文档关键字搜索等。<br/>
                                10. Base64图片处理，支持PC，Android，IOS<br/>
                                11. Service Socket 、Client Socket 通信技术(已经做过GPRS数据获取，并用到了项目中)<br/>
                                12. 提供大量工具类，可以直接使用<br/>
                                13. Maven项目构建，您可以直接做架构，可以提升自己的学习能力，使您成为真正的架构师。<br/>

                                以上项目只实现了部分功能，后续待开发，fighting.....<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（2） ----作者WJ</td>
                            <td>（1）
                                BootStrap-table客户端分页（模板网页：http://issues.wenzhixin.net.cn/bootstrap-table/）：后台一次性将数据推送到前台，由前台代码负责分页、排序等；（针对数据庞大的数据，不适用）
                                服务端分页：一次只传当前页的数据，点上一页或下一页时再以ajax方式获取所对应的数据；<br/>
                                1）. 可以考考虑 把用户表（数据较少的）使用 Bootstrap-table模板分页，功能实现简单，方便，样式更多，更好看<br/>
                                2）.记录日志行为：---- 记录基本主机信息<br/>
                                1.操作系统<br/>
                                2.IP地址<br/>
                                3.访问的浏览器内核<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结--五月（3） 5.7-5.10-研究页面跳转--</td>
                            <td>(1) 关于页面跳转： 目前知道的有两种：<br/>
                                一种是 利用easyui tab.js<br/>
                                一种是在每个页面 复写头部文件和底部文件<br/>
                                页面 总结：目前使用每个页面 调用头部和底部，这样能更好加载和分开样式，有些 主页主内容需要不同的样式
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（4）5.14 --研究版本控制器--</td>
                            <td> (1)Github是一个集成了git的服务。它可以以网页或者客户端的形式，帮助用户把git本地的数据提交到远程的服务器里。</td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结裁剪插件用的是jcrop,</td>
                            <td>
                                用于头像上传，进行一个预览和剪切到，该系统需要的大小的插件<br/>
                                1.使用到的技术插件<br/>
                                Jcrop：用于前端“裁剪”图片<br/>
                                bootstrap-fileinput：用于前端优化上传控件样式<br/>
                                ARTtemplate：JS版的JSTL？反正就是一个腾讯的模板化插件，很好用，真心。<br/>
                                bootstrap-sco.modal.js：这个是bootstrap的一个模态插件<br/>
                                SpringMVC：使用框架自带的MultipartFile来获取文件（效率能够大大的提高）<br/>
                                Image：这个是Java的内置类，用于处理图片很方便。<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（5)-5.17</td>
                            <td> 1.Bootstrap CSS 的四个 class - modal、hide、fade 和 in，用于设置 modal（模态框）的布局。<br/>
                                2.五月中旬之前，所有的模态的弹窗都是class='fade',需要靠z-index的值把握元素的fade到的层面，
                                有时候元素多的，容易覆盖到某些按钮和页面，比较麻烦，后来改成class='hide',免去了麻烦<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（6)-5.18</td>
                            <td> 今天研究：
                                1.使用模版进行网页数据的加载。在这里我们需要引入模版的js，js名称是：doT.min.js。
                                模版官方文档：http://dotjs.cn/<br/>
                                2.<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（7)-5.18</td>
                            <td> 1.常见浏览器兼容性问题与解决方案：http://blog.csdn.net/chuyuqing/article/details/37561313#comments<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（8)-5.24</td>
                            <td> (一 )myBatis 文档http://www.mybatis.org/mybatis-3/zh/sqlmap-xml.html<br/>
                                1. 如果你正在使用 Spring + MyBatis，则没有必要配置事务管理器， 因为 Spring 模块会使用自带的管理器来覆盖前面的配置。<br/>
                                2.resultMap 元素是 MyBatis 中最重要最强大的元素。它就是让你远离 90%的需要从结果 集中取出数据的 JDBC 代码的那个东西,
                                而且在一些情形下允许你做一些 JDBC 不支持的事 情。 事实上, 编写相似于对复杂语句联合映射这些等同的代码, 也许可以跨过上千行的代码。 ResultMap
                                的设计就是简单语句不需要明确的结果映射,而很多复杂语句确实需要描述它们 的关系。<br/>
                                3.Mapper XML 文件:MyBatis 的真正强大在于它的映射语句，也是它的魔力所在。由于它的异常强大，映射器的 XML 文件就显得相对简单。如果拿它跟具有相同功能的
                                JDBC 代码进行对比，你会立即发现省掉了将近 95% 的代码。MyBatis 就是针对 SQL 构建的，并且比普通的方法做的更好。
                                4.事实上，在Java代码中来动态生成SQL代码就是一场噩梦。<br/>
                                5.Mybatis需要手动编写SQL语句，以及ResultMap，而Hibernate 提供的方法完成持久层操作。<br/>
                                6.mybatis有没有自动创建表结构的功能？因为有的项目之前一直使用hibernate用习惯了，理所当然的认为，在实体类上配置下注解或者写写映射文件，系统启动后就可以自动创建表。
                                我只能很遗憾的告诉他，mybatis并没有这个功能<br/>
                                7.Mybatis需要手动编写SQL语句，以及ResultMap，而Hibernate 提供的方法完成持久层操作。程序员甚至不需要对SQL 的熟练掌握，
                                Hibernate/OJB 会根据制定的存储逻辑，自动生成对应的SQL 并调用JDBC
                                接口加以执行。但是MyBaits可以通过特殊的SQL语句编写来减少对SQL的依赖<br/>
                                8.执行非预编译sql 会导致sql硬解析，如果这个语句执行的比较频繁 会导致数据库性能下降:$: 直接显示当前值，不会处理的
                                #：当成字符串处理<br/>
                                9:MyBatis 是支持普通 SQL查询，存储过程和高级映射的优秀持久层框架。MyBatis 消除了几乎所有的JDBC代码和参数的手工设置以及结果集的检索。MyBatis
                                使用简单的 XML或注解用于配置和原始映射，将接口和 Java 的POJOs（Plain Old Java Objects，普通的
                                Java对象）映射成数据库中的记录。<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（9)-5.28</td>
                            <td> (一 )myBatis和hibernate 比较 文档https://www.zhihu.com/question/21104468<br/>
                                1.运行速度，hibernate是在jdbc上进行了一次封装，而mybatis基于原生的jdbc，因此mybatis天生就有运行速度上的优势<br/>
                                2.mybatis可以很容易做到不规范的映射对象和规范的映射对象共存，如果这种系统中再需要增加个需要复杂sql的功能，
                                mybatis只需要把sql手写出来，先把功能运行起来后再看看能不能变成自动生成的sql，而对hibernate来说就很困难了。<br/>
                                3.我的经验是主要看这3个指标来确定，第一个因素权重最大。<br/>
                                1）、数据量、有以下情况的最好就用MyBatis<br/>
                                如果有超过千万级别的表，<br/>
                                如果有单次业务大批量数据提交的需求(百万条及其以上的)，这个尤其不建议用hibernate<br/>
                                如果有单次业务大批量数据读取需求(百万条及其以上的)<br/>
                                2）、表关联复杂度<br/>
                                如果主要业务表的关联表超过20个的(大概数量，根据表的大小不同有差异)不建议用hibernate<br/>
                                3）、人员 如果开发成员多数不是多年使用hibernate的情况(一般开发水平评估)，建议使用MyBatis<br/>
                                来源：知乎
                                4.Hibernate理念不错，完全的ORMapping，MyBatis只是个SQL Mapper理想和现实是有差距的，把不是object的数据库结构映射，是一种leak
                                abstractionHibernate用来做学校项目级别的不错，
                                真正的项目一般都用mybatis，毕竟控制能力，调优成本更重要
                                来源：知乎<br/>
                                5. Hibernate与MyBatis的比较?https://www.zhihu.com/question/25753928<br/>
                                MyBatis，动态传入表名，字段名的解决办法
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（10)-5.29</td>
                            <td> (一 )myBatis "动态知识点"<br/>
                                1. MyBatis，动态传入表名，字段名的解决办法：http://luoyu-ds.iteye.com/blog/1517607<br/>
                                2.mybatis3动态创建表，判断表是否存在，删除表示例http://www.phperz.com/article/15/0123/47902.html<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----五月（11)-5.31</td>
                            <td> (一 )myBatis "动态知识点"<br/>
                                1.以前都是指定了实体类，然后写好sql语句直接套用就可以了。但是现在有个问题，万一你的物理模型不确定，
                                也即是你的表结构不确定，可以不用设定参数和返回类型的实体类，
                                只需要形成一个动态的表名和字段名的列表类。就可以动态对那些未知的物理模型进行操作<br/>
                                2.mybatis中一个属性：statementType。这个属性的作用是告诉mybatis我们写的这个sql到底是
                                预编译（PRESTATEMENT）还是非预编译（STATEMENT）的。<br/>
                                3.mybatis3中mapper文件中 #{...} 和 ${...}有什么不同．<br/>
                                MyBatis interprets #{...} as a parameter marker in a JDBC prepared statement. MyBatis
                                interprets ${...} as<br/>
                                mybatis3对于#{...}是JDBC prepared statement参数的占位符标志，其值会有对应typehandler针对不同类型设值．<br/>
                                string substitution. It is important to know the difference because parameter markers
                                cannot be used in certain places<br/>
                                而${...}在mybatis3中仅仅是字符串替换，这也是以前web编程sql注入发生的地发．<br/>
                            </td>
                        </tr>

                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----六月（1)-6.4</td>
                            <td> (一 )bootStrap table "动态知识点"<br/>
                                1. bootStrap table 是一个轻量级的table插件，使用AJAX获取JSON格式的数据，其分页和数据填充很方便，支持国际化<br/>
                                2.table数据填充：<br/>
                                bootStrap table获取数据有两种方式，一是通过table 的data-url属性指定数据源，二是通过JavaScript初始化表格时指定url来获取数据<br/>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td><input type="checkbox"/></td>
                            <td>项目总结----六月（2)-6.8</td>
                            <td> (二 )事务（Transaction）<br/>
                                1.
                                事务（Transaction），基本上会就往Spring事务靠。其实Spring事务管理基于底层数据库本身的事务处理机制。数据库事务的基础，是掌握Spring事务管理的基础。<br/>
                                2.它最终的目标：数据不会被破坏。即事务操作成功，数据的结果和业务期待的结果是一致的。这也就是ACID中的一致性（Consistency）<br/>
                                3.Spring的AOP技术能很好的将事物隔离出来。
                                Spring声明式事务让我们从复杂的事务处理中得到解脱。使得我们再也无需要去处理获得连接、关闭连接、
                                事务提交和回滚等这些操作。再也无需要我们在与事务相关的方法中处理大量的try…catch…finally代码。<br/>
                                4.在 spring-service中 配置了Spring Framework，它是一个基于IOC和AOP的构架多层j2ee系统的框架，
                                但它不强迫你必须在每一层 中必须使用Spring，因为它模块化的很好，允许你根据自己的需要选择使用它的某一个模块;它实现了很优雅的MVC，对不同的数据访问技术提供了统一的接口，
                                采用IOC使得可以很容易的实现bean的装配，提供了简洁的AOP并据此实现Transaction Management，<br/>
                                5.http://blog.csdn.net/u011199063/article/details/54578139 ---配置mybatis的事务管理说明
                                6.MyBatis集成Spring事务管理
                                在SSM框架中，使用的是spring的事务管理机制。Spring可以使用编程式实现事务，声明式实现事务以及注解式实现事务。
                                本文主要说一下如何使用注解式@Transanctional实现实现事务管理。<br/>
                                7.http://blog.csdn.net/xiaoerduo123x/article/details/51387203-----SSM 三大框架---事务处理<br/>
                                8.SSM框架中使用Spring的@Transactional注解进行事务管理---https://www.zifangsky.cn/479.html<br/>
                                9. 知识点：<br/>
                                1）在使用了Spring框架的应用中，我们可以使用@Transactional 注解方便地进行事务操作，如事务的回滚等。<br/>
                                2） 业务中场景中，调用多个service，事务处理中要注意的问题---http://blog.csdn.net/fyxxq/article/details/41544685
                                3)  spring中的事物传播------http://blog.csdn.net/dknypxt/article/details/5626161s
                                4) 事物传播需要区分service间的调用和service内部调用。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--widget-box end-->
        </div>
    </div>
    <!-- row-fluid-->
</div>
<!--container-fluid end-->
</div>
<!--content  end-->
</body>
</html>